/* .App {
  text-align: center;
} */

.product-list {
  display: flex;
  gap: 45px;
  justify-content: space-around;
}

.category-style {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
